input[type="text"]{
    width: 70%;
    border:2px solid red;
    border-radius: 15px;
    font-size:30px;
    background-color: cornsilk;
    padding: 12px 20px 12px 60px;
    background-image: url(1.png);
    background-repeat:no-repeat;
    background-size:40px;
    background-position: 10px 10px;
}
